.menu{
    list-style-type: none;
    border: 1px solid ;
    height: 60px;
    background-color: black;
}
.menu li{
    position: relative;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    height: 28px;
    line-height: 28px;
    background-color: black;
}
.menu li a{
    font-family: Tahoma;
    font-size: 13px;
    text-decoration: none;
    color: white;
}
.menu li ul{
    position: absolute;
    top: 29px;
    left:-20px;
    display: none;
    
}
.menu li:hover ul, .menu li ul li:hover ul, .menu li.over ul, .menu li ul li.over ul, .menu li ul li:hover{
    display: block;
    background-color: red;
}

.menu li ul li{
    display: block;
    
    width:  150px;
    height: 30px;
    line-height: 25px;
    background-color: dimgray;
}